/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

::selection {
  color: #000000;
}
h3::selection {
  background: #ff4e4e;
}
a::selection {
  background: #f8ff00;
}
p::selection {
  background: #f8ff00;
}
div::selection {
  background: #f8ff00;
}
body {
  font-family: "Raleway", "Sans-Serif";
}
/* h3 {
  font: 800 2rem "Montserrat";
} */
body {
    height: 100%;
  padding: 0;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);
  overflow: hidden;
}
html {
  height: 100%;
  overflow: hidden;
}
.bgimg {
  background-image: url("images/ghost.jpg");
  /* background: #EFEEEE; */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.social {
    margin: 2px;
}
/* Animation */
.typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(11) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

h3 {
  position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

